if TARGET_SALVATOR_X

config SYS_SOC
	default "rcar_gen3"

config SYS_BOARD
	default "salvator-x"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "r8a7795_salvator-x"

config R8A7795
	bool "Renesas SoC R8A7795"

endif
