if ARM64

config ARMV8_MULTIENTRY
        boolean "Enable multiple CPUs to enter into U-boot"

endif

if RCAR_GEN3

choice
        prompt "Renesas ARM SoCs board select"

config TARGET_SALVATOR_X
        bool "Salvator-X board"

endchoice

choice
	prompt "Select Target SoC"

config R8A7795
	bool "Renesas SoC R8A7795"

config R8A7796
	bool "Renesas SoC R8A7796"

endchoice

config SYS_SOC
        default "rcar_gen3"

source "board/renesas/salvator-x/Kconfig"

endif
