if ARM64

config ARMV8_MULTIENTRY
        boolean "Enable multiple CPUs to enter into U-boot"

endif

if RCAR_GEN3

choice
        prompt "Renesas ARM SoCs board select"

config TARGET_SALVATOR_X
        bool "Salvator-X board"

endchoice

config SYS_SOC
        default "rcar_gen3"

config RMOBILE_EXTRAM_BOOT
        bool "Enable boot from RAM"
        depends on TARGET_SALVATOR_X
        default n

source "board/renesas/salvator-x/Kconfig"

endif
