if ARM64

config ARMV8_MULTIENTRY
        boolean "Enable multiple CPUs to enter into U-boot"

endif

if RCAR_GEN3

choice
        prompt "Renesas ARM SoCs board select"

config TARGET_SALVATOR_X
        bool "Salvator-X board"

config TARGET_ULCB
        bool "ULCB board"

endchoice

config R8A7796X
	bool

choice
	prompt "Select Target SoC"

config R8A7795
	bool "Renesas SoC R8A7795"

config R8A77960
	bool "Renesas SoC R8A77960"
	select R8A7796X

endchoice

config SYS_SOC
        default "rcar_gen3"

source "board/renesas/salvator-x/Kconfig"
source "board/renesas/ulcb/Kconfig"

endif
