if RCAR_GEN5

menu "Select Target SoC"

config R8A78000
	bool "Renesas SoC R8A78000"
	select GICV3
	imply CLK_R8A78000
	imply PINCTRL_PFC_R8A78000

endmenu

choice
	prompt "Renesas ARM64 SoCs board select"
	optional

config TARGET_RCAR_X5H_BOARD
	bool "R-Car X5H board"
	imply R8A78000
	help
	  Support for Renesas R-Car Gen5 X5H platform

endchoice

source "board/renesas/rcar-x5h-board/Kconfig"

endif
