// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the Spider Ethernet sub-board
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

/ {
	aliases {
		eth0 = &rswitch;
        };
};

&pfc {
    tsn0_pins: tsn0 {
        mux {
            groups = "tsn0_link", "tsn0_mdio";
            function = "tsn0";
            drive-strength = <12>;
        };
        pins_mdio {
            groups = "tsn0_mdio";
            drive-strength = <12>;
        };
    };
};

&i2c4 {
	eeprom@52 {
		compatible = "rohm,br24g01", "atmel,24c01";
		label = "ethernet-sub-board";
		reg = <0x52>;
		pagesize = <8>;
	};
};

&rswitch {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			pinctrl-0 = <&tsn0_pins>;
			pinctrl-names = "default";
			/* phy-mode = "rgmii-txid"; */
			reg = <0>;
			phy-handle = <&etha0>;
			#address-cells = <1>;
			#size-cells = <0>;
			etha0: ethernet-phy@1 {
				reg = <1>;
			};
		};
	};
};
