// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source extras for U-Boot for the Gray Hawk board
 *
 * Copyright (C) 2023-2025 Renesas Electronics Corp.
 */

#include "r8a779h0-u-boot.dtsi"

/ {
	aliases {
		spi0 = &rpc;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ecc_data_region@4cccc0000 {
			no-map;
			reg = <0x4 0xcccc0000 0x0 0x33340000>;
		};

		ecc_data_region@5cccc0000 {
			no-map;
			reg = <0x5 0xcccc0000 0x0 0x33340000>;
		};
	};
};

&rpc {
	status = "disabled";
	flash@0 {
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
	};
};
