// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the R-Car X5H (R8A78000) SoC
 *
 * Copyright (C) 2025 Renesas Electronics Corp.
 */

#include <dt-bindings/clock/r8a78000-scmi-clock.h>
#include <dt-bindings/clock/r8a78000-scmi-reset.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/power/r8a78000-scmi-power.h>

/ {
	compatible = "renesas,r8a78000";
	#address-cells = <2>;
	#size-cells = <2>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		a720_0: cpu@0 {
			compatible = "arm,cortex-a720";
			reg = <0>;
			device_type = "cpu";
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_AC00>;
			next-level-cache = <&L3_CA720_0>;
			enable-method = "psci";
		};

		L3_CA720_0: cache-controller-0 {
			compatible = "cache";
			power-domains = <&scmi_devpd X5H_POWER_DOMAIN_ID_ACL0>;
			cache-unified;
			cache-level = <3>;
		};
	};

	extal_clk: extal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	extalr_clk: extalr {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	firmware {
		scmi {
			compatible = "arm,scmi";
			mbox-names = "tx","rx";
			mboxes = <&mailbox 0 &mailbox 1>;
			shmem = <&cpu_scp_lpri0 &cpu_scp_hpri0>;
			#address-cells = <1>;
			#size-cells = <0>;

			scmi_devpd: protocol@11 {
				reg = <0x11>;
				#power-domain-cells = <1>;
			};

			/* TODO: scmi_clk, scmi_reset */
		};
	};

	pmu_a720 {
		compatible = "arm,cortex-a720-pmu";
		interrupts-extended = <&gic GIC_PPI 7 IRQ_TYPE_LEVEL_LOW>;
	};

	psci {
		compatible = "arm,psci-1.0", "arm,psci-0.2";
		method = "smc";
	};

	/* In the early phase, there is no clock control support,
	 * so assume that the clocks are enabled by default.
	 * Therefore, dummy clocks are used.
	 */
	dummy_clk_sgasyncd4: dummy_clk_sgasyncd4 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <266666666>;
	};

	/* External SCIF clock - to be overridden by boards that provide it */
	scif_clk: scif {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <0>;
	};

	soc: soc {
		compatible = "simple-bus";
		interrupt-parent = <&gic>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		mailbox: mfis_mbox@18842000 {
			compatible = "renesas,mfis-mbox";
			#mbox-cells = <1>;
			reg = <0x0 0x18842004 0x0 0x4>,
			      <0x0 0x18842000 0x0 0x4>;
			interrupts = <GIC_SPI 4362 IRQ_TYPE_LEVEL_HIGH>;
			status = "disabled";
		};

		prr: chipid@189e0044 {
			compatible = "renesas,prr";
			reg = <0 0x189e0044 0 4>;
		};

		gic: interrupt-controller@38000000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <0>;
			interrupt-controller;
			reg = <0x0 0x38000000 0 0x20000>,
			      <0x0 0x38080000 0 0xC80000>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
		};

		pfc: pinctrl@c0400000 {
			compatible = "renesas,pfc-r8a78000";
			reg = <0 0xc1080000 0 0x104>, <0 0xc1080800 0 0x104>,
			<0 0xc1081000 0 0x104>, <0 0xc0800000 0 0x104>,
			<0 0xc0800800 0 0x104>, <0 0xc0400000 0 0x104>,
			<0 0xc0400800 0 0x104>, <0 0xc0401000 0 0x104>,
			<0 0xc0401800 0 0x104>, <0 0xc9b00000 0 0x104>,
			<0 0xc9b00800 0 0x104>;
		};

		hscif0: serial@c0710000 {
			compatible = "renesas,rcar-gen5-hscif", "renesas,hscif";
			reg = <0 0xc0710000 0 0x60>;
			interrupts = <GIC_SPI 4078 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&dummy_clk_sgasyncd4>, <&dummy_clk_sgasyncd4>, <&scif_clk>;
			clock-names = "fck", "brg_int", "scif_clk";
			status = "disabled";
		};

		i2c0: i2c@c11d0000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc11d0000 0 0x40>;
			interrupts = <GIC_SPI 4807 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c1: i2c@c06c0000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06c0000 0 0x40>;
			interrupts = <GIC_SPI 956 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c2: i2c@c06c8000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06c8000 0 0x40>;
			interrupts = <GIC_SPI 957 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c3: i2c@c06d0000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06d0000 0 0x40>;
			interrupts = <GIC_SPI 958 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c4: i2c@c06d8000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06d8000 0 0x40>;
			interrupts = <GIC_SPI 959 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c5: i2c@c06e0000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06e0000 0 0x40>;
			interrupts = <GIC_SPI 4064 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c6: i2c@c06e8000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06e8000 0 0x40>;
			interrupts = <GIC_SPI 4065 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c7: i2c@c06f0000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06f0000 0 0x40>;
			interrupts = <GIC_SPI 4066 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c8: i2c@c06f8000 {
			compatible = "renesas,i2c-r8a78000",
				     "renesas,rcar-gen5-i2c";
			reg = <0 0xc06f8000 0 0x40>;
			interrupts = <GIC_SPI 4067 IRQ_TYPE_LEVEL_HIGH>;
			i2c-scl-internal-delay-ns = <110>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		gpio0: gpio@c1080110 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc1080110 0 0xc0>;
			interrupts = <GIC_SPI 0 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 0 28>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio1: gpio@c1080910 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc1080910 0 0xc0>;
			interrupts = <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 32 22>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio2: gpio@c1081110 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc1081110 0 0xc0>;
			interrupts = <GIC_SPI 8 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 64 29>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio3: gpio@c0800110 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc0800110 0 0xc0>;
			interrupts = <GIC_SPI 12 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 96 17>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio4: gpio@c0800910 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc0800910 0 0xc0>;
			interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 128 16>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio5: gpio@c0400110 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc0400110 0 0xc0>;
			interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 160 23>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio6: gpio@c0400910 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc0400910 0 0xc0>;
			interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 192 31>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio7: gpio@c0401110 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc0401110 0 0xc0>;
			interrupts = <GIC_SPI 28 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 224 31>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio8: gpio@c0401910 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc0401910 0 0xc0>;
			interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 256 32>;
			gpio-reserved-ranges = <16 10>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio9: gpio@c9b00110 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc9b00110 0 0xc0>;
			interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 288 17>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		gpio10: gpio@c9b00910 {
			compatible = "renesas,gpio-r8a78000",
				     "renesas,rcar-gen5-gpio";
			reg = <0 0xc9b00910 0 0xc0>;
			interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pfc 0 320 14>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		sram: sram@c1000000 {
			compatible = "arm,rcar-sram-ns", "mmio-sram";
			reg = <0x0 0xc1000000 0x0 0x80000>;

			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 0x0 0xc1000000 0x80000>;

			cpu_scp_lpri0: scp-shmem@60000 {
				compatible = "arm,rcar-scp-shmem", "arm,scmi-shmem";
				reg = <0x61200 0x0100>;
			};

			cpu_scp_hpri0: scp-shmem@60300 {
				compatible = "arm,rcar-scp-shmem", "arm,scmi-shmem";
				reg = <0x61300 0x100>;
			};
		};

		cpg: clock-controller@c64f0000 {
			compatible = "renesas,r8a78000-cpg-mssr";
			reg = <0 0xc64f0000 0 0x4000>;
			clocks = <&extal_clk>, <&extalr_clk>;
			clock-names = "extal", "extalr";
			#clock-cells = <2>;
			#power-domain-cells = <0>;
			#reset-cells = <1>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts-extended = <&gic GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>,
				      <&gic GIC_PPI 12 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "sec-phys", "phys", "virt", "hyp-phys",
				  "hyp-virt";
	};
};
