#include <configs/renesas_rcar5.config>

CONFIG_ARM=y
CONFIG_ARCH_RENESAS=y
CONFIG_NR_DRAM_BANKS=16
CONFIG_RCAR_GEN5=y
CONFIG_ARM_SMCCC=y
CONFIG_ARMV8_PSCI=y
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0xFFFE0000
CONFIG_ENV_IS_IN_MMC=y
CONFIG_SYS_MMC_ENV_DEV=0
CONFIG_SYS_MMC_ENV_PART=2
# CONFIG_OF_UPSTREAM is not set
CONFIG_DEFAULT_DEVICE_TREE="r8a78000-ironhide"
CONFIG_TARGET_IRONHIDE=y
CONFIG_SYS_CLK_FREQ=1066666667
CONFIG_SYS_BOOT_GET_CMDLINE=y
CONFIG_SYS_BARGSIZE=2048
CONFIG_BOOTCOMMAND="tftp 0x9E680000 Image && tftp 0x9E600000 r8a78000-ironhide.dtb && booti 0x9E680000 - 0x9E600000"
CONFIG_SYS_CBSIZE=2048
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_ALT_MEMTEST=y
CONFIG_BAUDRATE=1843200
CONFIG_UFS=y
CONFIG_CMD_UFS=y
CONFIG_UFS_RENESAS_GEN5=y
CONFIG_SCSI=y
CONFIG_CMD_SCMI=y
CONFIG_FIRMWARE=y
CONFIG_SCMI_FIRMWARE=y
CONFIG_DM_MAILBOX=y
CONFIG_CLK_SCMI=y
CONFIG_RESET_SCMI=y
CONFIG_POWER_DOMAIN=y
CONFIG_RCAR_MFIS_MBOX=y
CONFIG_SCMI_POWER_DOMAIN=y
CONFIG_SCMI_AGENT_MAILBOX=y
CONFIG_RCAR_SCP_FIXUP=y
