#include <configs/renesas_rcar5.config>

CONFIG_ARM=y
CONFIG_ARCH_RENESAS=y
CONFIG_RCAR_GEN5=y
CONFIG_ARM_SMCCC=y
CONFIG_ARMV8_PSCI=y
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0xFFFE0000
# CONFIG_OF_UPSTREAM is not set
CONFIG_DEFAULT_DEVICE_TREE="r8a78000-board"
CONFIG_TARGET_RCAR_X5H_BOARD=y
CONFIG_SYS_CLK_FREQ=16666666
CONFIG_SYS_BOOT_GET_CMDLINE=y
CONFIG_SYS_BARGSIZE=2048
CONFIG_BOOTCOMMAND="booti 0x48080000 - 0x48000000"
CONFIG_BOOTARGS="console=ttyAMA0,38400n8 cma=800M root=/dev/vda"
CONFIG_ENV_IS_NOWHERE=y
CONFIG_SYS_CBSIZE=2048
CONFIG_BAUDRATE=1843200
